<% idea.comments.each do |comment| %>
  <div class="notification">
    <% if comment.user.photo.attached? %>
      <%= cl_image_tag comment.user.photo.key, class: 'avatar-large' %>
    <% else %>
      <%= image_tag 'https://www.outokummunseutu.fi/components/com_easyblog/themes/wireframe/images/placeholder-image.png', alt: 'no-image-attached-to-user', class: 'avatar-large' %>
    <% end %>
    <div class="notification-content">
      <p><strong><%= comment.user.first_name %> <%= comment.user.last_name %></strong></p>
      <p><%= comment.message %></p>
    </div>
    <% if comment.user == current_user %>
      <div class="notification-actions">
        <%= link_to comment_path(comment), data: { confirm: 'Are you sure?' }, method: :delete, remote: true do %>
          Delete <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
