<% if @idea.user == current_user %>
  <p class="mr-2"><%= @idea.upvotes.length %></p><i class="fas fa-heart"></i>
<% elsif upvote.nil? %>
  <p class="mr-2"><%= @idea.upvotes.length %></p>
  <%= link_to "<i class='far fa-heart'></i>".html_safe, idea_upvotes_path(@idea), method: :post, remote: true %>
<% else %>
  <p class="mr-2"><%= @idea.upvotes.length %></p>
  <%= link_to "<i class='fas fa-heart my-upvote'></i>".html_safe, upvote_path(upvote), method: :delete, remote: true %>
<% end %>

