<div class="index-idea-card mt-3">
  <%= link_to idea_path(@idea), class: 'foutsmoilapaix' do %>
  <div class="index-idea-card__top">
    <% if @idea.photos.attached? %>
      <%= cl_image_tag @idea.photos.first.key, class: 'index-idea-card__top__photo' %>
    <% else %>
      <%= image_tag 'https://www.outokummunseutu.fi/components/com_easyblog/themes/wireframe/images/placeholder-image.png', class: 'index-idea-card__top__photo', alt: 'no-image-attached-to-idea' %>
    <% end %>
  </div>
  <%= cl_image_tag @idea.user.photo.key, class: 'index-idea-card__user-image' %>
  <div class="index-idea-card__bottom">
    <div class="index-idea-card__bottom__infos">
      <h2 class="index-idea-card__bottom__title"><%= @idea.title.truncate(30) %></h2>
      <p class="index-idea-card__bottom__description"><%= @idea.description.truncate(130) %></p>
    </div>

    <div class="index-idea-card__tags-votes d-flex justify-content-between align-items-center">
      <div class="tag-list d-flex">
        <% @idea.tags.first(3).each do |tag| %>
          <div class="tag">
            <%= tag.name %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Travail des votes et personnes souhaitant travailler sur projet -->
    <div class="attachments">
      <% if Upvote.where(idea_id: @idea.id, user: current_user).length > 0 %>
        <div class="upvotes-done">
            <i class="fas fa-heart">
            </i>
              <%= @idea.upvotes.count %><%= pluralize(@idea.upvotes.count, 'Like') %>
        </div>
      <% else %>
        <div class="upvotes">
            <i class="fas fa-heart">
            </i>
              <%= @idea.upvotes.count %><%= pluralize(@idea.upvotes.count, 'Like') %>
        </div>
      <% end %>
      <!-- TODO : implement back for ppl who wants to participate -->
      <div class="participate">
        <i class="fas fa-handshake">
          <span>7 Intéressé(e)s</span>
        </i>
      </div>
    </div>
  </div>
  <% end %>
</div>
