<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to ideas_path, class: "navbar-brand" do %>
      <%= image_tag 'idea_box_logo_shadow.svg' %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <% if current_page?(new_idea_path) %>
            <li class="nav-item active">
          <% else %>
            <li class="nav-item">
          <% end %>
            <%= link_to "New Idea", new_idea_path, class: "nav-link" %>
          </li>
          <% if current_page?(ideas_path) %>
            <li class="nav-item active">
          <% else %>
            <li class="nav-item">
          <% end %>
            <%= link_to "Ideas", ideas_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag 'profile.png', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <% if current_page?(new_idea_path) %>
            <li class="nav-item active">
          <% else %>
            <li class="nav-item">
          <% end %>
            <%= link_to "New Idea ✚", new_idea_path, class: "nav-link" %>
          </li>
          <% if current_page?(ideas_path) %>
            <li class="nav-item active">
          <% else %>
            <li class="nav-item">
          <% end %>
            <%= link_to "Ideas", ideas_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
