<div class="ideas-sign-up-form col-md-4 col-sm-12 bg-white p-3 text-center">
  <h2 class="form-title pb-3">Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: 'btn-ideas-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
