<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Idea Box</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <% unless current_page?(root_url) ||
      current_page?(main_app.new_user_session_path) ||
      current_page?(main_app.new_user_registration_path) ||
      current_page?(edit_user_registration_path) %>
      <%= render 'shared/navbar' %>
    <% end %>
    <div id="flash-messages">
      <%= render 'shared/flashes' %>
    </div>
    <% unless current_page?(root_url) ||
      current_page?(main_app.new_user_session_path) ||
      current_page?(main_app.new_user_registration_path) ||
      current_page?(new_idea_path) ||
      current_page?(edit_user_registration_path) %>
      <div class="container">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
